# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Models & Weights
lora_model_*/
outputs*/
*.safetensors
*.bin
*.pth
*.pt
unsloth_compiled_cache/

# Data
data/raw/
data/processed/*.jsonl
!data/processed/*_parallel.jsonl

# IDEs
.vscode/
.idea/
*.swp

PROJECT_PLAN_FOR_BORA.md
.streamlit/secrets.toml 
 
 