# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Models & Weights
lora_model_*/
outputs*/
*.safetensors
*.bin
*.pth
*.pt
unsloth_compiled_cache/

# Data
data/raw/
data/processed/*.jsonl
!data/processed/mk_only_parallel.jsonl # Small GT is okay

# IDEs
.vscode/
.idea/
*.swp
